.container-menu {
  margin-top: 10px;
  margin-left: 350px;
}

.container-menu ul {
  list-style-type: none;
}

.container-menu ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding-left: 23px;
}

.container-menu ul li {
  margin-top: 25px;
  flex-direction: row;
  display: flex;
}

.container-menu ul li a:hover {
  color: #00acee;
}

.container-button {
  margin-top: 25px;
}

.button {
  width: 220px;
  height: 50px;
  background-color: #1d9bf0;
  border-radius: 25px;
  border: 1px solid #1d9bf0;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.button:hover {
  background-color: #1ea5ff;
  cursor: pointer;
}

.icon {
  color: white;
  width: 25px;
  height: 25px;
}

.logo {
  color: rgb(231, 231, 231);
  width: 36px;
  height: 36px;
}

.button-login {
  width: 170px;
  height: 45px;
  background-color: #00acee;
  border-radius: 25px;
  border: 1px solid #00acee;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.button-login:hover {
  background-color: #0595ce;
  cursor: pointer;
}

.input-login {
  height: 60px;
  width: 400px;
  border-bottom: 2px solid #00acee;
  border-radius: 15px;
  color: black;
  background-color: rgb(228, 228, 228);
  margin-top: 30px;
  padding-left: 15px;
}

.input-login:focus {
  outline: none;
}

.button-login-modal {
  width: 400px;
  height: 45px;
  background-color: #88cbe6;
  border-radius: 25px;
  border: 1px solid #88cbe6;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.container-button-login {
  margin-top: 30px;
  background-color: 'white';
}

.button-login-modal:hover {
  cursor: pointer;
  background-color: #00acee;
  border: 1px solid #00acee;
}

.title-modal-login {
  text-align: center;
}

.container-modal-register {
  margin-top: 40px;
}

.loginLayout {
  align-items: center;
}

.signout {
  color: rgb(211, 211, 211);
  padding-top: 15px;
}

.signout:hover {
  cursor: pointer;
  color: white;
}
